.footer {
    background-color: darken($dark-blue, 10%);
    background: $gradient-blue;
    border-top: 1px solid $off-white;
    display: flex;
}

.footer__icon-container {
    display: flex;
    padding: $xs-size;
    margin: 0 $m-size;
    justify-content: space-between;
    width: 100%;
}

.footer__icon {
    color: $off-white;
    font-size: $font-size-large;
    margin: $xs-size;
    &:hover {
        color: darken($off-white, 20%);
    }
}