.header {
    background: $off-white;
    display: flex;
    nav {
        display: flex;
        margin: 0 auto;
        max-width: 60rem;
    }
}

.header__navlink {
    flex-grow: 1;
    text-align: center;
}


.header__navlink--active {
    background: red;
}