#hobbies {
    background-color: $dark-grey;
    color: $off-white;
}

.hobbies__container {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: $s-size;
}