#introduction {
    background: $dark-blue;
    background: $gradient-blue-reverse;
    color: $off-white;
}

.introduction__content {
    align-items: center;
    border-bottom: 1px solid $off-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $s-size;
    text-align: center;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        text-align: left;
        font-size: $font-size-large;

    }
}

.introduction__figure {
    font-style: italic;
    text-align: center;
    img {
        border-radius: 50%;
        width: 20rem;
    }
}