#introduction {
    background: $dark-blue;
    color: $off-white;
}

.introduction__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        text-align: left;
    }
}

.introduction__figure {
    font-style: italic;
    text-align: center;
    img {
        border-radius: 50%;
        width: 20rem;
    }
}