#projects {
    background-color: $dark-grey;
    background: $gradient-titanium;
    color: $off-white;
}

.projects__list {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @media (min-width: $desktop-breakpoint) {
        flex-flow: row wrap;
    }
}