.section {
    width: 100%;
}

.section__title {
    margin: 0;
    text-align: center;
}

.section__sub-title {
    border-bottom: 1px solid $off-white;
    margin: 0 0 $m-size 0;
    padding-bottom: $s-size;
    text-align: center;
}