* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: url('/images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: $font-size-medium;
    height: 100vh;
}