// Colors
$off-white: #eff0f2;
$dark-grey: #333;
$grey: #666;
$beige: #F7E8D3;
$light-blue: #638BE4;
$blue: #1c88bf;
$dark-blue: #364051;
$orange: #ffd12b;
$dark-orange: #F45941;
$green: #1abc9c;
// Font Size
$font-size-small: 1.5rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.4rem;
$font-size-extra-large: 3rem;
// Measurements
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
// Effects
$box-shadow: 4px 4px 21px -6px rgba(0, 0, 0, 0.75);
$gradient-blue: linear-gradient(to bottom, #536976, #292e49);
$gradient-blue-reverse: linear-gradient(to top, #536976, #292e49);
$gradient-titanium: linear-gradient(to bottom, #283048, #859398);
$gradient-titanium-reverse: linear-gradient(to top, #283048, #859398);